*,html,body{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: rgb(191, 219, 228);
  }

  #parent{
    display: flex;
    font-size: 10rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .title{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .filters{
    width: 16rem;
    height: 5rem;
  }

  .child{
    display: flex;
    font-size: 6rem;
    height: 65rem;
    width: 40rem;
    margin: 5.5rem;
    border: solid black 0.8rem;
    border-radius: 3rem;
    background-color: rgb(192, 190, 190);
    color: black;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

#api-response{
    font-size: 5rem;
  }

.article-card {
    margin-top: 40px;
    text-align: center;
    background-color: rgb(0,0,0);
    border: 3px solid rgb(92, 92, 92);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 30%
}
